<!DOCTYPE html>
<html lang="ro">
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
<div id="wrap">

<div id="main">
    <a class="logo" href="/">
        <img src="/static/logo.png" width="122" height="47">
    </a>
    <div id="thx">
        <div class="msg">
            <p>Septembrie <strong>2007</strong> &nbsp;&rarr;&nbsp; Decembrie <strong>2011</strong></p>
            <p>Mulțumim pentru citire!</p>
        </div>
    </div>
    <div id="content">
        {{ content }}
        <p align="right">
            <a href="http://lucianmarin.com/" title="Lucian Marin">Python developer</a>
            &nbsp;&bull;&nbsp;
            <a href="http://anatomics.github.io/" title="Corpul omenesc">Anatomia umană</a>
            &nbsp;&bull;&nbsp;
            <a href="http://subreply.com/" title="Rețea socială">Social media</a>
            &nbsp;&bull;&nbsp;
            <a href="http://verset.github.io/" title="Sfânta Scriptură">Biblia</a>
        </p>
    </div>
</div>

</div>
</body>
</html>
