<!DOCTYPE html>
<html lang="ro">
<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="author" href="{{ page.author }}" />
</head>
<body>
<div id="wrap">

<div id="main">
    <a class="logo" href="/">
        <img src="/static/logo.png" width="122" height="47">
    </a>
    <div id="thx">
        <div class="msg">
            <p>
                Septembrie <strong>2007</strong>
                &nbsp;&rarr;&nbsp;
                Decembrie <strong>2011</strong>
            </p>
            <p>Mulțumim pentru citire!</p>
        </div>
    </div>
    <div id="content">
        <h2>{{ page.title }}</h2>
        <p class="date">
            {{ page.date | date_to_string }} &mdash; {{ page.author }}
        </p>
        {{ content }}
    </div>
</div>

</div>
</body>
</html>
